@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .dark {
    --background: 210 70% 10%;
    --foreground: 210 20% 98%;
    --card: 210 50% 18%;
    --card-foreground: 210 20% 98%;
    --popover: 210 70% 8%;
    --popover-foreground: 210 20% 98%;
    --primary: 48 96% 53%;
    --primary-foreground: 210 70% 10%;
    --secondary: 210 50% 25%;
    --secondary-foreground: 210 20% 98%;
    --muted: 210 50% 25%;
    --muted-foreground: 210 20% 65%;
    --accent: 45 80% 60%;
    --accent-foreground: 210 70% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 50% 30%;
    --input: 210 50% 30%;
    --ring: 48 96% 53%;
    --radius: 0.8rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
